/*---------- Variables ----------*/

$white: #FFFFFF;
$headerblue: #126398;
$darkblue: #111111;

/*---------- Global Styles ----------*/

body {
  font-family: 'Raleway', sans-serif;
}

.button {
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: .7rem 5rem;
  font-weight: 700;
  font-size: 20px;
  color: $white;
  text-decoration: none;
  text-align: center;
}

.button_highlight {
  background-color: #4b7ad2;
}

.clearfix {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.menu {
  display: none;
}
/*---------- Nav Styles ----------*/

.aboutmeheader {
	height: 120px;
	background: $headerblue;
}

nav {
  float: right;
  padding: 3rem 25rem 0 0;
	a {
	  color: rgba(255, 255, 255, .8);
	  font-weight: bold;
	  text-decoration: none;
	  margin-left: 2rem;
	  &:hover {
	    color: rgba(255, 255, 255, 1);
	  }
  }
}

.headerlogo {
  padding: 1.5rem 0 0 25rem;
  width: 120px;
  height: 70px;
  margin: 0;
  float: left;
}
/*---------- Content Styles ----------*/

#content {
	max-width: 640px;
	padding: 0;
	margin: 0 auto;
	.icon {
		margin: 0 auto;
		text-align: center;
		padding: 80px 0 30px 0;
	}
	.aboutmetekst {
		padding-top: 10px;
		span {
			font-weight: 700;
		}
	}
}
/*---------- Skills Styles ----------*/
/*---------- COPY!!! Styles ----------*/
/*---------- Contact Styles ----------*/

.header5 {
  background-color: #32373c;
  height: 600px;
  margin: 0;
  padding: 0;
}

.tittel7 {
  font-size: 25px;
  padding: .3cm 0 1.5cm 0;
  margin: 0;
  color: $white;
  text-align: center;
}

form {
  max-width: 450px;
  margin: 0 auto 100px;
  padding: 0 20px;
}

input {
  border: 0px;
  border-style: solid;
  border-color: #834f18;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

textarea {
  border: 0px;
  border-style: solid;
  border-color: #834f18;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  height: 10em;
  resize: none;
}

[type="submit"] {
  background-color: #e67e22;
  color: $white;
  font-size: 18px;
  text-transform: uppercase;
  border: 0;
}

.contact-info-group > label {
  width: 50%;
  float: left;
  box-sizing: border-box;
  &:nth-child(1) {
    padding-right: 10px;
  }
  &:nth-child(2) {
    padding-left: 10px;
  }
}

label {
  display: block;
  margin-bottom: 20px;
}

.rart {
  display: block;
  color: $white;
  font-weight: 700;
}
/*---------- Footer Styles ----------*/

footer {
	.copyright {
	  text-align: center;
	  /*float: left;*/
	  color: gray;
	  font-weight: 700;
	  background-color: #2e2e2e;
	  margin: 0;
	  padding: 20px;
	}
}
/*---------- Responsive Styles ----------*/
