/*---------- Variables ----------*/
/*---------- Imports Styles ----------*/
/*---------- Headerbar Styles ----------*/
header {
  height: 120px;
  background: #004f79;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0; }
  header .logo {
    padding: 1.5rem 0 0 25rem;
    width: 120px;
    height: 70px;
    margin: 0;
    float: left; }
  header nav {
    float: right;
    padding: 3rem 25rem 0 0; }
    header nav a {
      color: rgba(255, 255, 255, 0.8);
      font-weight: bold;
      text-decoration: none;
      margin-left: 2rem;
      text-transform: uppercase; }
      header nav a:hover {
        color: white; }
      header nav a a:active {
        color: #ff64ff; }

/*---------- Contact Styles ----------*/
.header5 {
  background-color: #32373c;
  height: 600px;
  margin: 0;
  padding: 0; }

.tittel7 {
  font-size: 25px;
  padding: .3cm 0 1.5cm 0;
  margin: 0;
  color: #FFFFFF;
  text-align: center; }

form {
  max-width: 450px;
  margin: 0 auto;
  padding: 0 20px; }

input {
  border: 0px;
  border-style: solid;
  border-color: #834f18;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px; }
  input:focus {
    outline-color: #e67e22; }

textarea {
  border: 0px;
  border-style: solid;
  border-color: #834f18;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  height: 10em;
  resize: none; }
  textarea:focus {
    outline-color: #e67e22; }

[type="submit"] {
  background-color: #e67e22;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0; }
  [type="submit"]:focus {
    outline-color: #FFFFFF; }

.contact-info-group > label {
  width: 50%;
  float: left;
  box-sizing: border-box; }
  .contact-info-group > label:nth-child(1) {
    padding-right: 10px; }
  .contact-info-group > label:nth-child(2) {
    padding-left: 10px; }

label {
  display: block;
  margin-bottom: 20px; }

.rart {
  display: block;
  color: #FFFFFF;
  font-weight: 700; }

/*---------- Footer Styles ----------*/
footer {
  text-align: center;
  background-color: #2e2e2e;
  height: 45px;
  margin: 0;
  padding: 0px;
  color: #FFFFFF; }
  footer .copyright {
    font-weight: 700;
    margin: 0;
    display: block; }
  footer .socials {
    margin: 0;
    display: block; }

.col-5, .col-6 {
  margin: 0 auto;
  display: inline-block;
  width: 20%;
  padding: 15px 5% 0 5%;
  box-sizing: border-box;
  text-align: center;
  margin: 0; }

.fa {
  margin-right: 15px; }

/*---------- Global Styles ----------*/
body {
  font-family: 'Raleway', sans-serif; }

.clearfix:before {
  content: " ";
  display: table; }
.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

/*---------- Banner Styles ----------*/
/*---------- Content Styles ----------*/
.aboutwrapper {
  height: 950px;
  background: #126398;
  max-width: 100%;
  position: relative;
  padding: 0;
  margin: 0; }

hr {
  width: 300px;
  text-align: center; }

p {
  width: 640px;
  text-align: left; }

#content {
  padding: 0;
  text-align: center; }
  #content .icon {
    margin: 0 auto;
    text-align: center;
    padding: 150px 0 30px 0; }
  #content .aboutmetekst {
    display: inline-block;
    padding-top: 10px;
    color: #FFFFFF; }
    #content .aboutmetekst span {
      font-weight: 700; }

.skill-lockup {
  max-width: 540px;
  margin: 50px auto;
  color: #FFFFFF;
  font-size: 20px; }
  .skill-lockup .skill-unit {
    width: 270px;
    float: left; }
  .skill-lockup .skill-icons {
    font-size: 0;
    margin: 3px 0 30px; }
    .skill-lockup .skill-icons span {
      display: inline-block;
      height: 20px;
      width: 20px;
      background-color: #004f79;
      margin-right: 4px;
      border-radius: 50%; }
      .skill-lockup .skill-icons span:after {
        content: "";
        display: block;
        height: 14px;
        width: 14px;
        background: #FFFFFF;
        border-radius: 50%;
        margin-left: 3px;
        margin-top: 3px; }
    .skill-lockup .skill-icons.skill-1 span:nth-child(n+2) {
      background: #32373c; }
    .skill-lockup .skill-icons.skill-2 span:nth-child(n+3) {
      background: #32373c; }
    .skill-lockup .skill-icons.skill-3 span:nth-child(n+4) {
      background: #32373c; }
    .skill-lockup .skill-icons.skill-4 span:nth-child(n+5) {
      background: #32373c; }
    .skill-lockup .skill-icons.skill-5 span:nth-child(n+6) {
      background: #32373c; }
    .skill-lockup .skill-icons.skill-6 span:nth-child(n+7) {
      background: #32373c; }
    .skill-lockup .skill-icons.skill-7 span:nth-child(n+8) {
      background: #32373c; }
    .skill-lockup .skill-icons.skill-8 span:nth-child(n+9) {
      background: #32373c; }
    .skill-lockup .skill-icons.skill-9 span:nth-child(n+10) {
      background: #32373c; }
    .skill-lockup .skill-icons.skill-10 span:nth-child(n+11) {
      background: #32373c; }

/*# sourceMappingURL=aboutme.css.map */
