/*---------- Variables ----------*/
$white:          #FFFFFF;
$headerblue:     #126398;
$headerdarkblue: #004f79;
$orange:         #e67e22;
$gray:           #32373c;
$aqua:           #2980b9;
$interested:     #2c3e50;
$fontcolor:      #aba2b6;
$steelblue:      #4682b4;
$maingray:       #141414;
$darkgray:       #0f0f0f;
$contactcolor:   #32373c;
/*---------- Imports Styles ----------*/

@import "global";

/*---------- Global Styles ----------*/

body {
  font-family: 'Raleway', sans-serif;
}

.clearfix {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

/*---------- Banner Styles ----------*/
/*---------- Portfolio Styles ----------*/

.alt-section {
  background: $headerblue;
  padding-top: 180px;
  overflow-x: hidden;
}

.thumb-container {
  max-width: 95%;
  margin: 0 auto;
  padding-bottom: 680px;
}

.thumb-unit1, .thumb-unit2, .thumb-unit3, .thumb-unit4, .thumb-unit5, .thumb-unit6, .thumb-unit7, .thumb-unit8  {
  width: 25%;
  height: 220px;
  background: pink;
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  padding-top: 2%;
  
  &:hover .thumb-overlay {
      position: absolute;
      top: 0%;
      left: 0;
      bottom: null;
      right: 0;
    }

  .thumb-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    bottom: null;
    right: 0;
    background: fade-out($darkgray, 0.5);
    height: 100%;
    text-align: center;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;

    h1 {
      display: block;
      font-size: 30px;
      color: $white;
      padding-top: 30px;
      text-transform: uppercase;
    }
  }
}

.tittel {
  font-size: 2em;
  padding: 0cm 0 70px 0;
  margin: 0;
  color: $white;
  text-align: center;
}

/*---------- Responsive Styles ----------*/

/*@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .menu {
    display: block;
    float: right;
  }
}

i {
  font-size: 1.5em;
  color: $white;
  padding-top: .6em;
  padding-left: 5rem;
}*/

/*@media only screen and (max-width: 960px) {
  #portfolio-wrap .one-third {
    width: 33.33%;
  }
}*/