/*---------- Variables ----------*/
$white:          #FFFFFF;
$headerblue:     #126398;
$headerdarkblue: #004f79;
$orange:         #e67e22;
$gray:           #32373c;
$aqua:           #2980b9;
$interested:     #2c3e50;
$fontcolor:      #aba2b6;
$steelblue:      #4682b4;
$maingray:       #141414;
$darkgray:       #0f0f0f;
$contactcolor:   #32373c;
/*---------- Imports Styles ----------*/

@import "global";
@import "portfoliogrid";

/*---------- Global Styles ----------*/

body {
  font-family: 'Raleway', sans-serif;
}

.clearfix {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

/*---------- Banner Styles ----------*/
/*---------- Portfolio Styles ----------*/
/*---------- Responsive Styles ----------*/

/*@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .menu {
    display: block;
    float: right;
  }
}

i {
  font-size: 1.5em;
  color: $white;
  padding-top: .6em;
  padding-left: 5rem;
}*/

/*@media only screen and (max-width: 960px) {
  #portfolio-wrap .one-third {
    width: 33.33%;
  }
}*/