/*---------- Global Styles ----------*/

body {
	font-family: "brandon-grotesque"
	font-size: 100px;
}

.button {
	border: none;
	outline: none;
	border-radius: 2rem;
	padding: .7rem 5rem;
	font-weight: 700;
	font-size: 20px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}

.button_highlight {
	background-color: #4b7ad2;
}

/*---------- Banner Styles ----------*/

#banner {
	background: url("/images/bakgrunn1.png");
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	padding: 0.34cm;
	height: 930px;
	background-color: #126398
}

.headerlogo {
	float: left;
	margin: 0;
	padding-left: 6.45cm;
}

nav {
	float: right;
	padding-top: 0.72cm;
	padding-right: 1cm;
}
a {
		color: #FFFFFF;
		font-weight: 700;
		text-decoration: none;
		margin-left: 2rem;
		padding: 8px;
}
a:hover {
    color: #ecf0f1;
    background-color: #95a5a6;
}

.content {
	padding: 5cm;
}

.tittellogo {
	text-align: center;
}

.socials {
	text-align: center;
	padding-top: 5cm;
}

.facebook {
	padding: 0rem 7rem 0rem 7rem;
}

/*---------- Offer Styles ----------*/

.header {
	background-color: #FFFFFF;
	height: 500px;
	padding: 0;
	margin: 0;
}

#offerlogos {
	padding-top: 5rem;
	text-align: center;
	margin: 0;
}

.diamant {
	padding: 0 14rem 0 14rem;
}

.text {
	text-align: center;
	font-size: 30px;
	color: black;
	margin: 0;
	padding-top: 1cm;
	padding-right: 1.5cm;
}

.l {
	text-align: center;
	padding: 0 9cm 0 9cm;
}

/*---------- Interested Styles ----------*/

.header3 {
	background-image: url("images/bakgrunn2.png")
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #0059ff;
	height: 537px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.banner_wrapper {
	text-align: center;
	margin: 3rem 0;
	padding-top: 3cm;
}

.button {
	margin: 0 10rem 0 17rem;
}

.tittel {
	font-size: 25px;
	padding: .3cm 0 5.5cm 0;
	margin: 0;
	color: #FFFFFF;
	text-align: center;
}

/*---------- Quote Styles ----------*/

.header4 {
	background-color: #3498db;
	text-align: center;
	height: 300px;
	margin: 0;
	padding: 0;
}

.quote {
	font-size: 30px;
	color: #FFFFFF;
	line-height: 10px;
	padding: 0;
}

.mainpart {
	line-height: 40px;
}

.quoteimage {
	padding: .7cm 0 0 0;
}

/*---------- Contact Styles ----------*/

.header5 {
	background-color: #32373c;
	height: 600px;
	margin: 0;
	padding: 0;
}

.tittel7 {
	font-size: 25px;
	padding: .3cm 0 1.5cm 0;
	margin: 0;
	color: #FFFFFF;
	text-align: center;
}

form {
	max-width: 450px;
	margin: 0 auto 100px;
	padding: 0 20px;
}

input, textarea {
	border: 3px;
	border-style: solid;
	border-color: #834f18;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

textarea{  
  height: 10em;
  resize: none;
}

[type="submit"] {
	background-color: #bd6f1b;
	color: #FFFFFF;
	font-size: 18px;
	text-transform: uppercase;
	border: 0;
}

.contact-info-group>label {
	width: 50%;
	float: left;
	box-sizing: border-box;
}

.contact-info-group>label:nth-child(1) {
	padding-right: 10px;
}

.contact-info-group>label:nth-child(2) {
	padding-left: 10px;
}

label {
	display: block;
	margin-bottom: 20px;
}

span {
	display: block;
	color: #FFFFFF;
	font-weight: 700;
}

/*---------- Footer Styles ----------*/

.copyright {
	text-align: center;
	color: gray;
	font-weight: 700;
	background-color: #2e2e2e;
	margin: 0;
	padding: 20px;
}













