/*---------- Global Styles ----------*/

body {
	font-family: "brandon-grotesque"
	font-size: 100px;
}

/*---------- Banner Styles ----------*/

#banner {
	background-image: url(images/bakgrunn1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	padding: 0.34cm;
	height: 930px;
	background-color: #126398
}

.headerlogo {
	float: left;
	margin: 0;
	padding-left: 6.45cm;
}

nav {
	float: right;
	padding-top: 0.72cm;
	padding-right: 1cm;
}
a {
		color: #FFFFFF;
		font-weight: 700;
		text-decoration: none;
		margin-left: 2rem;
		padding: 8px;
}
a:hover {
    color: #ecf0f1;
    background-color: #95a5a6;
}

.content {
	padding: 5cm;
}

.tittellogo {
	text-align: center;
}

.socials {
	text-align: center;
	padding-top: 5cm;
}

.facebook {
	padding: 0rem 7rem 0rem 7rem;
}

/*---------- Offer Styles ----------*/

.header {
	background-color: #1b2e3a;
	height: 600px;
}

#offerlogos {
	padding: 5rem;
	text-align: center;
	margin: 0;
}

.diamant {
	padding: 0 12rem 0 12rem;
}

.text {
	text-align: center;
	horizontal-align: 
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 30px;
	color: #FFFFFF;
}

/*---------- Interested Styles ----------*/
/*---------- Quote Styles ----------*/
/*---------- Contact Styles ----------*/
/*---------- Footer Styles ----------*/

.copyright {
	text-align: center;
	color: gray;
	font-weight: 700;
	background-color: #2e2e2e;
	margin: 0;
	padding: 20px;
}













