/*---------- Variables ----------*/
$white:          #FFFFFF;
$headerblue:     #126398;
$headerdarkblue: #004f79;
$orange:         #e67e22;
$gray:           #32373c;
$aqua:           #2980b9;
$interested:     #2c3e50;
$fontcolor:      #aba2b6;
$steelblue:      #4682b4;
$maingray:       #141414;
$darkgray:       #0f0f0f;
$contactcolor:   #32373c;
/*---------- Imports Styles ----------*/

@import "global";

/*---------- Global Styles ----------*/

body {
  font-family: 'Raleway', sans-serif;
}

.button_wrapper {
  position: relative;
  width: 100%;
  justify-content: center;
  display: flex;
  text-align: center;
  margin: 0 auto;
}

.button {
  outline: 1px solid black;
  padding: 10px 20px;
  margin-left: 10px;
  font-weight: 700;
  font-size: 20px;
  color: rgba(255, 100, 255, 1);
  text-decoration: none;
  justify-content: center;
  display: flex;
  &:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  a:active {
    color: rgba(255, 100, 255, 1);
  }
}
.button_highlight {
  background-color: $headerdarkblue;
}
.button_main {
  background-color: $gray;
}
.button1 {
 display: inline-block;
}
.button2 {
 display: inline-block;
}

.clearfix {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

/*---------- Banner Styles ----------*/

.banner {
  height: 950px;
  width: 100%;
  background-size: cover;
  positon: fixed;
  background-attachment: fixed;
  .content {
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 9cm;
    position: relative;
    .tittel1 {
      color: $white;
      font-size: 50px;
      margin-bottom: 15px;
      font-weight: 700;
    }
    .undertittel, .work {
      color: $white;
      margin-right: 80px;
      padding: 0;
      font-weight: 700;
      font-size: 25px;
    }
    .work {
      position: absolute;
      top: 50%s;
      left: 50%;
      margin-top: -29px;
      margin-left: 88px;
    }
  }
}  

.nodisplay {
  display: none;
  }

/*---------- Offer Styles ----------*/

.header {
  background-color: $white;
  height: 400px;
  padding: 2cm 0 0 0;
  margin: 0;
}

#offerlogos {
  padding-top: rem;
  text-align: center;
  margin: 0;
}

.wrapper1 {
  width: 90%;
  margin: 0 auto;
}

.col-1, .col-2, .col-3 {
  float: left;
  width: 33%;
  padding: 0 5% 0 2.5%;
  box-sizing: border-box;
  text-align: center;
}

/*---------- Interested Styles ----------*/

.header3 {
  background-color: $interested;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
  background-position: 50% 40%;
  height: 650px;
  margin:0;
  padding: 0;

}

.tittel {
  font-size: 25px;
  padding: .3cm 0 6cm 0;
  margin: 0;
  color: $white;
  text-align: center;
}

/*---------- Quote Styles ----------*/

.header4 {
  background-color: $aqua;
  text-align: center;
  height: 300px;
  margin: 0;
  padding: 0;
}

.quote {
  font-size: 30px;
  color: $white;
  line-height: 10px;
  padding: 0;
}

.mainpart {
  line-height: 40px;
}

.quoteimage {
  padding: .7cm 0 0 0;
}


/*---------- Responsive Styles ----------*/